<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">

  <title>Capital Pipeline</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">

</head>

<body>

  <main>

    <div class="container">
      <section class="wow fadeIn">
        <div class="row">

          <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 col-xl-7 col-7 background-left">
            <div class="row">
              <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-3">
                <div class="row">
                  <div class="col-12 background-blank"></div>
                </div>
                <img
                  src="https://capitalpipelineprojects001.s3.us-east-2.amazonaws.com/img/png/Capital+Pipeline+secondary+logo.png"
                  class="logo2" />
              </div>
              <div class="col-xs-9 col-sm-9 col-md-9 col-9">
                <img
                  src="https://capitalpipelineprojects001.s3.us-east-2.amazonaws.com/img/png/Capital+Pineline+written+out+white.png"
                  class="logo3" align="left" />
              </div>
            </div>
          </div>



          <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 col-5 background-right">
            <div class="row">
              <div class="col-12 background-blank-sm"></div>
            </div>
            <div class='tright'><strong>PROJECT<br>REPORT</strong></div>
            <div class='tright2'>capitalpipeline.tech</div>
          </div>

        </div>

        <div class="row">
          <div class="col-12 background-black"></div>
        </div>

      </section>

      <div class="my-custom-container">
        <div class="button-padding">
          <span class="headerorange"><strong>PROJECT NAME</strong></span>
          <h4 class="project-info"><strong>{{ db_dict.project_name['project_name'][0] }}</h4></strong>
        </div>
        <div class="button-padding">
          <span class="headerorange"><strong>PROJECT FUNDAMENTALS</strong></span>
          <div class="project-info">
            {% for key, value in db_dict.project_fundamentals.items() %}
            <h4><strong>{{key}}</strong>:</h4> {{value[0]}}
            {% endfor %}
          </div>
        </div>

        <div class="button-padding">
          <span class="headerorange"><strong>PROJECT CONTACT</strong></span>
        </div>
        <div class="project-info">
          {% for key, value in db_dict.project_contact.items() %}
          <h4><strong>{{key}}</strong>:</h4>{{value[0]}}
          {% endfor %}
        </div>

        <div class="button-padding">
          <span class="headerorange"><strong>DIVISIONS</strong></span>
        </div>

        <div class="project-info">
          {% for key, value in db_dict.division.items() %}
          <h4><strong>{{key}}</strong>:</h4> {{value[0]}}
          {% endfor %}
        </div>
      </div>
    </div>
  </main>
</body>

</html>